* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1172px;
  margin: auto;
}

.hero {
  padding-top: 65px;
  padding-bottom: 75px;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 115px;
}

.img_logo {
  margin-top: 5px;
  transition: all 0.1s ease-out;
}

.img_logo:hover {
  transform: scale(1.1);
}

.link {
  position: relative;
  color: black;
  margin-left: 27px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  text-shadow: -1px 2px 5px rgba(150, 150, 150, 1);
}

.link::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffcc69;
  transition: 0.4s;
  transform: scaleX(0);
}

.link:hover:before {
  transform: scaleX(1);
}

.link:hover {
  font-size: 20px;
}

.tel {
  color: black;
  margin-left: 27px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  text-shadow: -1px 2px 5px rgba(150, 150, 150, 1);
}

.tel:hover {
  font-size: 20px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 442px;
  height: 123px;
  margin-bottom: 68px;
  margin-left: 35px;
}

.hero-card {
  flex-basis: 50%;
}

.hero-card-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-top: 20px;
}

.img-card {
  margin-right: 9px;
}

.hero-title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
  text-shadow: -1px 2px 5px rgba(150, 150, 150, 1);
  margin-top: 0px;
  margin-bottom: 0px;
}

.hero-subtitle {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-shadow: -1px 2px 5px rgba(150, 150, 150, 1);
  margin-top: 25px;
  margin-bottom: 42px;
}

.hero_avatar {
  margin-left: 40px;
}

.card-descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-shadow: -1px 2px 5px rgba(150, 150, 150, 1);
}

.button {
  background: #ffcc69;
  border-radius: 5px;
  padding: 19px 75px;
  border: none;
  box-shadow: 2px 3px 5px #808080;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
}

.button:hover {
  background: rgba(0, 0, 0, 0);
  color: #ffcc69;
  box-shadow: inset 0 0 0 3px #ffcc69;
  transition: 0.4s;
  cursor: pointer;
}

/* main */

.products {
  padding-top: 65px;
  padding-bottom: 75px;
}

.descr-container {
  width: 512px;
  margin-bottom: 30px;
}

.section-title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.section-descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}

.products-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 348px;
  height: 507px;
  margin-bottom: 35px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.products-card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.2);
}

.products-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products-card-text {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  text-align: center;
}

.products-card-descr {
  text-align: justify;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 14px;
}

.img-products {
  width: 100%;
  height: 45%;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
}

.card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}

.card-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 10px;
  color: #666666;
}

.card-descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
}

.product-button {
  text-decoration: none;
}

.product-button:visited {
  color: rgba(0, 0, 0, 0);
}

/* features */

.features {
  padding-top: 65px;
  padding-bottom: 75px;
}

.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
}

.features-item {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  margin-bottom: 50px;
}

.features-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  align-self: center;
  margin: 0;
  margin-bottom: 5px;
}

.features-descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  align-self: center;
  margin: 0;
}

.features-img {
  margin-right: 29px;
}

/* review */

.review {
  background-color: #f8f8f9;
  padding-top: 65px;
  padding-bottom: 115px;
}

.review-slide {
  display: flex;
  justify-content: space-around;
}

.review-text {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
}

.review-img {
  width: 480px;
  height: 270px;
  border-radius: 10px;
}

.review-text-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.review-text-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.review-title-1 {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 10px;
}

.review-title-2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #666666;
  margin-bottom: 5px;
}

.review-descr-1 {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.color-yelow {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #f0bc5e;
}

.review-descr-2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  margin: 0;
  color: #666666;
}

.review-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.review-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid #f0bc5e;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.review-bullet-active {
  background-color: #f0bc5e;
}

/* faq */

.faq-block {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none;
}

summary::before {
  position: relative;
  right: 15px;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 1px solid #666666;
  border-right: 1px solid #666666;
  transform: rotate(45deg);
}

details[open] summary:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 1px solid #666666;
  border-right: 1px solid #666666;
  transform: rotate(135deg);
  transition: 0.4s;
}

details[open] .faq-item-descr-text {
  animation: spoiler 0.5s;
}

@keyframes spoiler {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 10em;
  }
}

.faq-quest {
  display: flex;
  flex-direction: column;
}

.faq-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 650px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.faq-item-title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
}

.faq-item-descr-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #72758e;
  text-align: justify;
}

.faq-item-title:focus {
  outline: 0;
}

.faq-img {
  height: min-content;
}

/* phone */

.phone-block {
  padding-top: 105px;
  display: flex;
}

.phone-img {
  border-radius: 100px;
}

.phone-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.phone-title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.phone-descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}

.phone-button {
  background: rgba(0, 0, 0, 0);
  color: black;
  box-shadow: inset 0 0 0 3px #ffcc69;
  margin-top: 10px;
}

/* map  */

.map {
  margin-top: 150px;
}

.map-item-map {
  position: relative;
}

.map-item-contacts {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #72758e;
  width: 455px;
  height: 460px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 10;
  top: 20px;
  left: 1010px;
}

.item-contacts-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
  margin: 0;
  margin-top: 25px;
}

.item-contacts-descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
}

/* footer  */

.footer {
  background-color: #72758e;
  height: 140px;
  display: flex;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

.footer-descr-block {
  width: 300px;
}

.footer-descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.footer-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #e0e0e0;
}

/* modal  */

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal--visible {
  opacity: 1;
  visibility: visible;
}

.modal__dialog {
  position: relative;
  max-width: 36.36rem;
  background: #72758e;
  padding: 2.357rem 3.5rem 1.928rem;
  color: #ffffff;
}

.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  height: 28px;
  background: transparent url("../img/icons/close.svg") no-repeat center;
  border: none;
  margin: 12px;
  cursor: pointer;
}

.modal__title {
  font-family: Playfair Display;
  font-style: normal;
  font-size: 1.357rem;
  text-align: center;
  margin: 0;
  margin-bottom: 2.428rem;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1.07rem;
}

.label--light {
  color: rgba(255, 255, 255, 0.5);
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  font-size: 1.285rem;
  color: white;
  padding: 0.5rem 0;
}

.input::placeholder {
  color: white;
}

.modal__input {
  margin-bottom: 3.428rem;
}

.modal__input:last-of-type {
  margin-bottom: 1rem;
}

.policy__checkbox {
  opacity: 0;
  visibility: hidden;
}

.policy__checkbox:checked + .policy__label::before {
  background: #ffcc69 url("../img/icons/check.svg") no-repeat center / 0.8rem;
}

.policy__label {
  display: flex;
  align-items: center;
}

.policy__label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #ffcc69;
  border-radius: 1px;
  cursor: pointer;
  margin-right: 0.64rem;
}

.modal__policy {
  margin-bottom: 2.7rem;
}

.modal__button {
  align-self: center;
  color: white;
}

/* adaptive  */

@media (max-width: 1460px) {
  .map-item-contacts {
    left: 800px;
  }
}

@media (max-width: 1250px) {
  .map-item-contacts {
    left: 600px;
  }
  .hero_avatar_img {
    width: 500px;
  }
}

@media (max-width: 1100px) {
  .hero-content {
    flex-direction: column;
  }
  .hero_avatar_img {
    width: 500px;
  }
  .hero_avatar {
    margin-bottom: 35px;
    margin-left: 0;
    order: 0;
  }
  .hero-text {
    order: 1;
  }
  .features-item {
    flex-basis: 45%;
  }
  .swiper-slide {
    flex-direction: column;
  }
  .review-img {
    margin-bottom: 45px;
    align-self: center;
    max-width: 100%;
  }
  .map-item-contacts {
    left: 400px;
  }
  .phone-block {
    flex-direction: column;
  }
  .phone-img {
    width: 500px;
    align-self: center;
    margin-bottom: 45px;
    margin-left: 150px;
  }
  .phone-text {
    align-items: center;
  }
  .faq-img {
    display: none;
  }
}

@media (max-width: 850px) {
  .hero-header {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .hero-links {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .map-item-contacts {
    left: 300px;
  }
}

@media (max-width: 745px) {
  .map-item-map {
    visibility: hidden;
  }
  .map-item-contacts {
    left: 150px;
  }
}

@media (max-width: 690px) {
  .map-item-contacts {
    left: 120px;
  }
  .faq-item-descr-text {
    max-width: 95%;
  }
  .faq-quest {
    max-width: 95%;
  }
  .faq-item-title {
    max-width: 95%;
  }
}

@media (max-width: 600px) {
  .map-item-contacts {
    left: 20px;
  }
  .hero_avatar_img {
    width: 300px;
  }
  .features-item {
    flex-basis: 100%;
  }
  .phone-img {
    width: 300px;
    margin: 0;
  }
  .map {
    margin-top: 20px;
  }
  .footer-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .footer-link {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .modal__dialog {
    max-width: 90%;
    max-height: 100%;
  }
  .modal__title {
    font-family: Playfair Display;
    font-style: normal;
    font-size: 0.957rem;
    text-align: center;
    margin: 0;
    margin-bottom: 2.428rem;
  }
  .input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-size: 0.985rem;
    color: rgb(216, 216, 216);
    padding: 0.5rem 0;
  }
}

@media (max-width: 510px) {
  .descr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
  }
  .footer-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .footer-link {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .map-item-contacts {
    left: 5px;
  }
  .faq-item-title-text {
    max-width: 90%;
    text-align: center;
  }
  .hero-cards {
    margin: 0;
    flex-wrap: wrap;
  }
  .hero-card {
    flex-basis: 90%;
  }
  .hero-button {
    margin-top: 130px;
  }
  .phone-block {
    padding-top: 5px;
  }
  section {
    padding: 10px 10px 10px 10px;
  }
  .hero {
    padding: 20px;
  }
  .products {
    padding: 20px;
  }
  .features {
    padding: 20px;
  }
  .hero-links {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .link {
    margin-bottom: 5px;
  }
  .hero-header {
    margin: 20px;
  }
  .tel {
    margin-right: 165px;
    margin-left: 0;
  }
  .img-logo-footer {
    margin-top: 20px;
  }
}

@media (max-width: 440px) {
  .tel {
    margin: 0;
  }
  .hero-cards {
    width: 100%;
    height: 100%;
  }
  .hero-button {
    margin-top: 30px;
  }
  .hero-title {
    text-align: center;
  }
  .map-item-contacts {
    max-width: 100%;
    text-align: center;
    left: auto;
  }
  .map {
    padding: 0;
  }
  .review {
    padding: 20px;
  }
  .hero_avatar_img {
    width: 210px;
  }
  .hero_avatar {
    margin-bottom: 10px;
  }
  .phone-img {
    width: 200px;
  }
  .review-img {
    max-width: 100%;
  }
}
